[2015-02-27 18:42] mt-digital opened #1 "add login failure info"
Currently login doesn't say why it fails if it fails. Need to say "email not recognized" or "incorrect password".

[2015-02-27 18:43] mt-digital opened #2 "README.md needs instructions for running locally and a flask-centric quickstart"
To facilitate collaboration

[2015-02-27 18:47] mt-digital opened #3 "Add DataResource contribution page and form"
To start, we want to support a link to an external resource and uploads to the virtual watershed.

[2015-03-01 07:01] mt-digital commented on #3
Done with the form and form view. Need the functionality to push data to the virtual watershed data engine as well as add to Resource database table. See issue #4.

[2015-03-01 07:01] #3 closed, assigned to mt-digital

[2015-03-01 07:05] mt-digital opened #4 "Connect resource form data to both resource model and virtual watershed data engine"
Make it happen in `app/share/view.py`.

[2015-03-02 22:11] itsrifat opened #5 "Design of the global interface"
This issue is opened to discuss the design of the interface

[2015-03-02 22:13] itsrifat commented on #5
@mtpain have you given thoughts on using any boilerplate HTML5 / CSS frameworks like Twitter Bootstrap for the design? that would make life lot easier I guess. We won't have to worry about cross browser support, different screen size support those kinds of things.

[2015-03-02 22:37] mt-digital commented on #5
Yes, I think that would be great. If you want to take that on, please do, and assign yourself to this issue. I have done some weird stuff to build the search result view. I changed the title of this to "design of the global interface" because I think some other things will need to be done with the search interface specifically, and I'd like to keep those changes separate.

[2015-03-02 22:41] mt-digital opened #6 "Redesign of the search interface"
We need ideas and a re-design of the search interface. Likely we can take some other open-source view and re-use it. Please post ideas (screenshots, code snippets, etc.) for this here.

@itsrifat this might be another good one for you to take on.

[2015-03-02 23:10] mt-digital commented on #6
GSToR already provides an interface: http://data.nmepscor.org/index.html

[2015-03-02 23:18] mt-digital commented on #5
This is GSToRE's data browsing view: http://dev.nmepscor.org/data_portal/browse-data

[2015-03-02 23:42] mt-digital opened #7 "Developer documentation in the README"

[2015-03-03 22:14] ChaseCarthen opened #8 "Unity Model Run Scene"
I was thinking we could create a webpage that animates a model run on a DEM specific to that model run.

Example Use Case:
User searches for a Model Run.

That user can then specify choose some option to visualize that particular model run in another window.

This would require that the user's selected data is to Unity Webplayer via a javascript function, since the Unity webplayer can communicate

[2015-03-03 22:33] mt-digital commented on #8
In the code you'll share, is there an example of how the unity webplayer communicates via javascript?

[2015-03-11 18:59] mt-digital opened #9 "500 error on email confirmation"
![screen shot 2015-03-11 at 11 58 02 am](https://cloud.githubusercontent.com/assets/2425472/6604519/105c5fae-c7e6-11e4-8a2d-7c2bc5bc3df7.png)

[2015-03-11 21:01] mt-digital opened #10 "new account confirmation is awkward and reported broken"
John Volk reported that he did not get any confirmation emails and that the page was "frozen". At the least, after clicking "send new confirmation email", the page should change to say something like "Sent! Check it."

Also, there's a 404 error after clicking the page because of the bad redirect mentioned in #9

Get this working smoothly, it's essential for new users to have a good experience of t

[2015-03-12 21:18] ChaseCarthen commented on #8
Yes I will go ahead and make any example project for you tomorrow.

[2015-03-12 23:38] ChaseCarthen commented on #8
Here is a link that I refer to get javascript and Unity talking to each other: http://docs.unity3d.com/Manual/UnityWebPlayerandbrowsercommunication.html

[2015-03-13 21:06] ChaseCarthen opened #11 "Model Run Search Specific Parameter Specification"
I think we should add some more specific parameters for model run searching.

For example maybe someone wants find a model run with a specific variable (i.e. a heat variable).

[2015-03-13 21:11] itsrifat opened #12 "Add a requirements file"
It will be good to have a requirements file for the application so that its easy to install the requirements easily !

[2015-03-13 21:32] mt-digital opened #13 "Prototype User Space"
We need a workflow where users "clone" a data resource into their own user space. When they run models in that space, the model outputs don't get synced to the virtual watershed until the user decides to do so. Also a user may do other things like modify data or create grids from weather station in that space.

It'd also be a place to edit biographical or metadata info if the users so desire.

[2015-03-13 21:36] mt-digital commented on #12
@itsrifat added requirements file and included some other dependencies. Try it out and if it works, close this issue. Thanks!

[2015-03-20 00:13] itsrifat commented on #12
I still couldn't get it running. There are some duplicate requirements in the file:
- python-dateutil
- nose
- SQLAlchemy

After commenting out these duplicates having error on installing couple of packages thorugh requirements.txt which are:
- GDAL
- lxml

So I tried installing these two manually. After that running `python models.py runserver` from the app directory is giving import  error. The

[2015-03-20 00:29] mt-digital commented on #12
I made a mistake (corrected now) in the README, it should be `python manage.py runserver`, run from the root directorty of the project.

[2015-03-20 00:49] itsrifat commented on #12
Now getting this:

`AssertionError: Config file /home/escenic/vwplatform/default.conf does not exist!`

[2015-03-20 01:02] mt-digital commented on #12
ok, sorry for not including this part in the README. Thanks again for working through this.

You need to edit `default.conf.template` and fill out user name, password, and virtual watershed address. You also need to write in the path to two directories that start with `/PATH/TO/EDIT` or something like that. Then save the edited file as `default.conf`. Don't add your `default.conf` to be tracked by

[2015-03-20 01:02] mt-digital commented on #12
email me if you need a reminder for the user name and password. They are the ones we got in nm.

[2015-03-20 01:12] itsrifat commented on #12
I didn't quite get what do you mean by editing `default.conf.template` ? Where do I need to edit that?

[2015-03-20 01:24] mt-digital commented on #12
sorry, it should have been included, but it wasn't there.

I just pushed an update that includes `default.conf.template` in the root directory and two template files in the `resources` directory. There are two paths `PATH/TO/VWPLATFORM` where you need to substitute in the path to the project.

[2015-03-20 01:31] mt-digital commented on #12
This is definitely overly complicated, but I haven't had time to improve it.

[2015-03-20 01:50] itsrifat commented on #12
Can you also remove the duplicates from the requirements.txt file? And it would be nice to see how to install GDAL and lxml through requirements.txt. if you change and push I can check again if the requiremtns.txt is working properly

[2015-03-20 02:04] mt-digital commented on #12
OK, done.

[2015-03-30 21:35] mt-digital commented on #12
This seems to be working now, closing.

[2015-03-30 21:35] #12 closed, assigned to mt-digital

[2015-03-30 21:43] mt-digital commented on #2
Needs info on setting up DB using [flask-migrate](https://flask-migrate.readthedocs.org/en/latest/)

[2015-03-30 22:33] #7 closed, assigned to mt-digital

[2015-03-30 22:33] #2 closed, assigned to mt-digital

[2015-04-06 16:38] mt-digital opened #15 "format "Share" page"
part of the work in progress, but we need to make sure the Share page is formatted like the rest.

[2015-04-06 16:42] mt-digital commented on #5
Done with  #14

[2015-04-06 16:42] #5 closed, assigned to itsrifat

[2015-04-06 16:42] mt-digital commented on #1
fixed with #14

[2015-04-06 16:42] #1 closed, assigned to nobody

[2015-04-06 16:47] itsrifat commented on #15
I can't actually access the share page, Its asking for email confirmation after login. How do I temporarily disable the email confirmation feature or add email server configs?

[2015-04-06 17:33] mt-digital commented on #15
OK. Even though it's slick and a little more secure with the email confirmation it is creating problems (see #9, #10). So to close #9 and to make this easier, I'm going to disable email confirmation until we have time to address its issues. I'll create a new feature issue with email confirmation as the feature.

[2015-04-08 06:17] mt-digital commented on #9
temporarily removing new account confirmation for development

[2015-04-08 06:17] #9 closed, assigned to nobody

[2015-04-08 06:17] mt-digital commented on #10
Closing with #9; removing this for development

[2015-04-08 06:17] #10 closed, assigned to nobody

[2015-04-08 23:29] mt-digital commented on #15
tackled with #16

[2015-04-08 23:29] #15 closed, assigned to itsrifat

[2015-04-08 23:31] mt-digital opened #17 "Refactor search and browse capabilities for search page"
Currently search by model run name is broken. We also want to support requests to be able to browse by watershed, researcher, state, etc.

[2015-04-08 23:32] mt-digital commented on #6
Redesign done, but we still need to add some better features as explained in #17.

[2015-04-08 23:32] #6 closed, assigned to nobody

[2015-04-08 23:42] mt-digital opened #18 "Add pagination to search results page"
Either by fetching all records from the datasets endpoint of the VW or by iterating over requests for 15 at a time, add some method of pagination to the search results page.

[2015-04-09 22:01] mt-digital opened #19 "Make "State" a dropdown of abbreviations to select from in "Create an Account" tab"

[2015-04-13 19:15] mt-digital commented on #17
See http://tri-state-epscor.github.io/vw-doc/watershed.html#vw-client-examples for more information on how search works currently.

See the `search` method for the `VWClient` class as well.

[2015-04-29 21:29] mt-digital opened #20 "fix authentication"
Currently broken. Maybe a good time to integrate VW REST API authentication.

[2015-05-04 16:41] #20 closed, assigned to mt-digital

[2015-05-04 19:18] #4 closed, assigned to mt-digital

[2015-05-04 19:18] #8 closed, assigned to nobody

[2015-05-04 19:18] #13 closed, assigned to mt-digital

[2015-05-04 19:22] mt-digital opened #21 "Replace sqlite based login with VWP login"
Use authentication and session as described here: https://edacgit.unm.edu/wc-wave/virtual-watershed/wikis/authentication-authorization

Proceed by verifying password and adding session via User model. [flask-login's](https://flask-login.readthedocs.org/en/latest/) [`login_user`]() does not check passwords, that is done separately. `login_user` simply registers a [`current_user`](https://flask-logi

[2015-05-04 19:43] mt-digital opened #22 "Replace sqlite based registration with VWP registration"
Similar to #21, need to use functionality described here: http://vwp-dev.unm.edu/developer/developer/auth.html#apicreateuser to create a VWP user via the VWP API

[2015-05-05 14:54] mt-digital commented on #21
will not replace at this time, but will build in a parallel implementation to be set be env vars

[2015-05-05 14:54] #21 closed, assigned to nobody

[2015-05-05 14:55] mt-digital commented on #22
Again similar to #21, VWP API registration will be built in paralllel to existing registration strategy.

[2015-05-05 14:55] #22 closed, assigned to nobody

[2015-05-21 21:14] mt-digital commented on #17
closed with ef5ae913147750a7d83520c5c85e811b91586e9e

[2015-05-21 21:15] #17 closed, assigned to nobody

[2015-05-27 22:55] mt-digital opened #25 "redesign dataset view for a modelrun"
The `share/` route currently shows the modelruns currently tracked in the `resources` table in the db. On clicking "Add files to this resource" the user is shown a form to upload files in the `share/files/{model_run_uuid}`.

In addition to the option to upload files in this view, the user should also be presented with a list of current datasets that have been uploaded and inserted to the VW.  Boot

[2015-05-27 23:00] lipalath-ms commented on #25
Should the list contain all the datasets available from VW? (under all model runs)

[2015-05-27 23:03] mt-digital commented on #25
no, only the model run that the user is adding files to

[2015-05-27 23:06] lisapalathingal commented on #25
Ok, correct me I am wrong: List should be displayed in this page, right?[image:
Inline image 1]

On Wed, May 27, 2015 at 4:03 PM, Matthew <notifications@github.com> wrote:

[2015-05-28 18:10] mt-digital commented on #25
One change above: I've changed "Download Link" to "Downloads/Services". Please put badges for wcs and wms if they are available. No badge if not.

[2015-05-29 05:57] mt-digital opened #27 "tab for processing page"
Right now there is no tab in the upper right for the processing page. There should be.

[2015-05-29 06:47] mt-digital opened #28 "make form conform to joel's design doc"
Need more fields, including radio selectors for time step and Kriging method. Check boxes for variables of interest.

![sample_web_form](https://cloud.githubusercontent.com/assets/2425472/7877748/d180635c-0593-11e5-830c-32bba2f2c201.png)

[2015-06-02 03:46] fakehydro opened #29 "this is just to test..."

[2015-06-02 03:50] #29 closed, assigned to nobody

[2015-06-02 04:32] mt-digital opened #30 "rename processing to modeling in app framework"
All front end things will actually say "Modeling" but on the back end it's all "processing" because of a misguided attempt to use processing as the general term. In fact, modeling serves better as the general term.

[2015-06-03 02:11] #25 closed, assigned to lipalath-ms

[2015-06-03 02:11] #27 closed, assigned to itsrifat

[2015-06-03 02:11] #28 closed, assigned to mt-digital

[2015-06-03 02:29] mt-digital opened #31 "fix timeout of login"
Getting error on trying to insert new data after inactivity. Failing, I believe due to the timeout of authentication with the `VW_CLIENT`.

[2015-06-10 06:06] #31 closed, assigned to mt-digital

[2015-06-15 18:16] mt-digital commented on #18
This could have been marked low priority, but I'm just closing it for now.

[2015-06-15 18:16] #18 closed, assigned to nobody

[2015-06-15 18:56] mt-digital opened #32 "Enable files viewing drill-down from search page"
Currently the only way to drill down into the available files contained in a resource is through the Share page (http://vw.nkn.uidaho.edu/share/). This requires log in and is not necessarily intuitive if all the user wants to do is view the files and interact with them through service, download, or visualization requests.

To remedy this, enable a button to navigate to the file viewer for a resour

[2015-06-15 19:03] mt-digital opened #33 "give users the option to visualize and interactively subset a csv file from the virtual watershed"
To start, include this option at the files view page as a button. The files view is currently only accessible from the Share module: http://vw.nkn.uidaho.edu/share/

The user clicks "View and add files for this resource" on an existing resource and they see this page:

![screen shot 2015-06-15 at 11 21 59 am](https://cloud.githubusercontent.com/assets/2425472/8167082/c934236c-1350-11e5-907c-70132b

[2015-06-15 19:18] mt-digital opened #34 "Files View mode based on login/ownership"
We want to generalize the files view. Currently the files view is accessible only to a user who is logged in and owns the resource being viewed. In the files view, there's a button to remove a file and the form to upload new files.

Generalize the files view by conditionally showing removal and upload options: if the user is logged in and owns the resource, show the remove/upload options no matter

[2015-06-15 19:20] mt-digital opened #35 "listify currently shared resources and search results"
The list of the Files View is more visually appealing and utilizes space better than the grid of results. So let's use that instead of the grid view in search results and currently shared resources (/search and /share)

[2015-06-16 21:12] ChaseCarthen opened #36 "VW bounding box issue"
The bounding box within the virtual watershed metadata is used for the WMS service.
Consequently if the bounding box within the metadata does not match the dataset's internal bounding box there will be issues in the visualization.

I don't know how this will be impacted by the netcdf.

[2015-06-16 22:57] mt-digital commented on #36
OK, thanks, Chase. I am out of town the rest of this week. It would probably be good for you to check in one-on-one with the UNM guys to chat about NetCDF and bring up this question.

[2015-06-24 20:06] ruiwu1990 opened #37 "Upload files"
I am still new... So this may sound stupid. Where should I store the users' uploaded files? Have you guys done something similar to process users' uploaded files?

[2015-06-24 20:29] ruiwu1990 commented on #33
First version (will be finished before July 3):
1) users need to manually enter visualization section through the link: http://127.0.0.1:5000/visualization/
2) users can visualize csv files only
3) visualize methods: line charts, bar charts, pie charts
4) users can download line charts chosen part as a csv file
5) the visualization section will just have an index.html

[2015-06-24 20:40] ruiwu1990 commented on #33
Here is a question: I should put my js files in vwplatform/app/templates/visualization/js , right?

[2015-06-24 21:26] mt-digital commented on #33
That depends, do you actually use templating in your javascript files? If so, then yes put them there.

If not, you should put them in vwplatform/app/static/js. Apparently I have been putting javascript files just under `app/static`, but if you add more, we should probably organize them better. So please create `app/static/js` and put your new javascript files there if they aren't templates.

[2015-06-24 21:30] ruiwu1990 commented on #33
I need to create my js files to visualize data, such as lineChart.js. Therefore, I will put them in vwplatform/app/templates/visualization/js

[2015-06-24 21:31] ruiwu1990 commented on #33
Also, where should I store users' upload files? And where can I get access to the existing data files to visualize?

[2015-06-25 23:51] mt-digital commented on #33
Look at how Lisa has implemented uploads in the share Blueprint. She creates a directory called "uploads" if it doesn't exist yet. She can also answer your questions regarding issue #37, which she has already done.

[2015-06-25 23:55] ruiwu1990 commented on #33
Thank you. I will ask her. She will be back next week.

On Thu, Jun 25, 2015 at 4:51 PM, Matthew notifications@github.com wrote:

[2015-06-26 00:00] mt-digital commented on #37
Lisa has done this. When using the app, go to the `/share` tab, then you'll see the first screenshot below. Click on a green button that's attached to a resource description and you'll be taken to the second screenshot where you can upload files to the virtual watershed.

Please get in touch with Lisa if you need more info on how this works.

![share_view](https://cloud.githubusercontent.com/asset

[2015-06-26 00:00] #37 closed, assigned to nobody

[2015-06-30 19:11] #30 closed, assigned to nobody

[2015-06-30 21:00] ChaseCarthen commented on #36
I never gave an example why this is a problem, so please let me explain here:
I am using the model_run_uuid de781fc8-d829-4c2a-bd40-ee6e7120814e and one of its datasets as an example

Here is the json bounding box: [-120.01, 31.17, -102.66, 49.13]

http://vwp-dev.unm.edu//apps/vwp/search/datasets.json?model_run_uuid=de781fc8-d829-4c2a-bd40-ee6e7120814e

Here is the wms bounding box: LatLonBounding

[2015-06-30 21:03] ChaseCarthen commented on #36
Should this be a fix on the server side?

[2015-06-30 21:34] mt-digital commented on #36
Yes, I think this is a server-side issue, so I'll close this. The fix then should be to just use the bounding box from the data, right?

[2015-06-30 21:38] ChaseCarthen commented on #36
Yes that would be correct.

[2015-07-01 02:59] mt-digital opened #39 "https cdns"
`//fonts.googleapis.com...` instead of `http://fonts...`

[2015-07-01 19:54] ruiwu1990 commented on #33
I have a suggestion: I found Lisa has done something that enable users to upload files and download files. How about adding a visualization button in the Service and Download column? When users click visualization button, the system requires users to input the row offset and column offset of the csv file (I need to get rid of the metadata of the csv file to visualize it). Then the system will go t

[2015-07-01 21:34] mt-digital commented on #33
I like this. There is one issue: single points are often not of interest. What would be more interesting is to calculate the sum or average of particular variables over the entire grid for a particular timestep, or to make a map of a single variable. With NetCDF, you'll be able to access variables individually and then do these operations.

I really like the idea of using the URL to access the col

[2015-07-01 21:44] ruiwu1990 commented on #33
OK. I will create a sub-section in visualization for NetCDF visualization. This includes an interface for users to choose which part to visualize. Can you email me a NetCDF file first to test?

[2015-07-01 21:46] mt-digital commented on #33
try this: http://vwp-dev.unm.edu/apps/vwp/datasets/4a79a65f-05f5-4bc1-8a75-59dbe0b0edaf/flat_input.nc.original.nc

There are many input bands here. There's some complications because there are fill values that are very large if there is missing data. I'm not sure yet how to handle that the right way, but for now I do like I do in this post I sent you: https://mt.northwestknowledge.net/netcdf/pytho

[2015-07-01 21:49] mt-digital opened #40 "add radio buttons for selecting model_set"
Options are "inputs", "outputs", and "reference"

[2015-07-01 21:50] ruiwu1990 commented on #33
Second version (will be finished before July 10):
1) users need to manually enter NetCDF visualization section through the link: http://127.0.0.1:5000/visualization/NetCDF
2) users can visualize NetCDF files with line chart
3) the system offers users different options to visualize (which variable)

I will focus on  second version first and then I will work on link all the visualization parts with

[2015-07-07 20:44] ruiwu1990 commented on #33
Got one question about accessing values of one variable, named 'm_pp', from this file (http://vwp-dev.unm.edu/apps/vwp/datasets/4a79a65f-05f5-4bc1-8a75-59dbe0b0edaf/flat_input.nc.original.nc).

I used these commands (netcdf4 library) to access variable values:
netcdf_aim_file = Dataset(filename, "r")
netcdf_aim_file.variables['m_pp'][1][3][3]  # dimensions is (time, northing, easting)

The return

[2015-07-08 15:53] mt-digital commented on #36
Thanks for reopening, this is my top priority. Hope to have it done today.

[2015-07-08 16:09] mt-digital commented on #33
That's right, those large values are missing values. Keeping them as "missing" helps save some space, I guess. NetCDF puts the floating point maximum in as a placeholder. In the case of m_pp, "mass flux of precipitation", it doesn't rain or snow every hour, so for hours when there was no precipitation all precipitation variables (including m_pp) will be masked. Try inspecting `netcdf_aim_file.vari

[2015-07-10 21:28] ruiwu1990 commented on #33
Sorry that I cannot finish the first version of NetCDF file Visualization today. I will work on it this weekend and finish them for sure. Sorry again.

[2015-07-12 19:46] ruiwu1990 commented on #33
Life is hard and programming is harder. I got a hard question about accessing NetCDF file data. Could you guys give me some suggestions? My pipeline to visualize NetCDF file is: 1) choose a NetCDF file; 2) choose one variable and one dimension from that variable to visualize in line chart (e.g. a user choose a variable named temperature and temperature has three dimensions: time(size 16), lon(size

[2015-07-12 21:26] ruiwu1990 commented on #33
Problem fixed! You know why I still have some good feelings, after I was beat badly by my program, I still have the chance to kick its ass back.

[2015-07-12 22:32] ruiwu1990 commented on #33
Just finish the first version of NetCDF visualization with line chart. The clone url is:
https://github.com/ruiwu1990/vwplatform.git

For this version, users need to go to http://127.0.0.1:5000/visualization/NetCDF/
manually. The system now using a sample file for this version (users cannot choose which file to visualize). This version cannot handle variables whose attributes value is "masked" (e.

[2015-07-13 20:09] ruiwu1990 commented on #33
One question about code refactoring. There is a rule about coding that the maximum length of each line is 79. However, it is so hard for me to follow this rule. Here is an example:

[code]

I need to keep the indentation and it is so hard to keep each line less than 79. What should I do?

[2015-07-13 20:18] mtpain commented on #33
The following would be an improvement that would solve the 79 column rule as well as improve your code:

[code]

Sometimes it's OK to exceed 79 columns, but in this case the refactor is simple to avoid going beyond 79. Also in Python you don't need the line extension `\` if you are inside parenthesis, brackets, or braces (`()`, `[]`, or `{}` respectively).

So often you can write

[code]

As I've

[2015-07-13 20:20] mt-digital commented on #33
The following would be an improvement that would solve the 79 column rule as well as improve your code:

[code]

Sometimes it's OK to exceed 79 columns, but in this case the refactor is simple to avoid going beyond 79. Also in Python you don't need the line extension `\` if you are inside parenthesis, brackets, or braces (`()`, `[]`, or `{}` respectively).

So often you can write

[code]

[2015-07-14 17:59] #36 closed, assigned to nobody

[2015-07-14 18:46] mt-digital opened #42 "making metadata broken for geotiffs because of new badness"
Introduced a bug by fixing #36

[2015-07-14 19:49] #42 closed, assigned to mt-digital

[2015-07-14 21:11] ruiwu1990 commented on #33
I am working on enabling users to upload their files. And then the system can visualize the uploaded files. The next step I will work on link the system to virtual watershed DB. After that, users can choose files to visualize from DB. If you guys have any suggestions about accessing data or interface design please feel free to email me.

I refactored most parts of my code and also set up index pag

[2015-07-16 22:42] ruiwu1990 commented on #33
I just updated my part. Here is the clone url:
https://github.com/ruiwu1990/vwplatform.git

(If it does not work, it must because I did not push all my updates to my repository...)

The latest version has following features:
1) nicer interface
2) enable users upload files (stored in /vwplatform/app/visualization/tempData)  and visualize them.
3) enable users take a screenshot of the visualization

[2015-07-24 18:34] ruiwu1990 commented on #33
I have created an interface for Chase to visualize their csv output strings. I am now working on display netCDF file into a 2D map and I got a problem about color display (the bigger number with darker color, and the smaller number with lighter color). Can you guys give me some suggestions? How to deal with this?

I used the function (inputs are the number and the maximum of all the numbers) below

[2015-07-27 23:46] ruiwu1990 commented on #33
I improved my map part based on suggestions from Chase and plot data with three colors. The results are below:

![threecolor](https://cloud.githubusercontent.com/assets/8552440/8920505/d3903810-347e-11e5-9bb4-e921aa2eac81.png)

My original program has the results:

![twocolor](https://cloud.githubusercontent.com/assets/8552440/8920509/de3fd0a4-347e-11e5-972f-f36897f506d7.png)

Can you guys tell me

[2015-07-28 19:59] mt-digital commented on #33
OK, this is a great start.

For now, don't worry about refactoring and perfect code, let's get a good prototype of this going.

This is a challenging problem. You're basically having to come up with your own colormap for use with scientific data on the web. The way you're doing it right now is slightly ineffective, but you're on the right track. I don't know how to do this well, and I think figuri

[2015-07-28 20:09] ruiwu1990 commented on #33
Hi Matthew,

Thank you for the help. There are four things in my mind that I need to do:

1) Display the canvas (the 2D map stuff) on a google map
2) Correct my 2D map bugs. These are about how to make 2D maps working for
all kinds of polygon data, not just rectangular.
3) Improving 2D map color. As you suggested, I will use D3 scales.
4) Remove all global variables in my view.py

Because we shoul

[2015-07-28 20:54] mt-digital commented on #33
I'd say the order would be 3), 1), 2), 4).

But for fixing color, just get something like this and move on:
![screen shot 2015-07-28 at 1 17 20 pm](https://cloud.githubusercontent.com/assets/2425472/8942618/2ce163ba-352b-11e5-8bc6-c2b268a28846.png)

Then getting 1) will give the user a better frame of reference.

2) is not too important for other kinds of polygon data at the moment, so leave this

[2015-07-28 22:12] ruiwu1990 commented on #33
3) is done for now. There is a screenshot about I_lw in of flat_input.nc
below. I used easting as lat and northing as lon. I found there was a new
bug for my map part. I will fix it this week.

Before next Thursday, I hope I can put the canvas on a google map. From
August 7th to August 14, I will not be in Nevada.

[image: Inline image 1]

On Tue, Jul 28, 2015 at 1:54 PM, Matthew notifications@git

[2015-07-28 22:14] ruiwu1990 commented on #33
En. I am not sure why the image does not display. Here is the my screenshot.
![screenshot from 2015-07-28 15 04 33](https://cloud.githubusercontent.com/assets/8552440/8945336/5c0d3a1e-353b-11e5-860c-0ff13b17a31d.png)

[2015-07-28 22:21] mt-digital commented on #33
Excellent!

[2015-07-30 18:51] ruiwu1990 commented on #33
I hesitate to overlay a canvas or an image on a google map. I can do both. If I choose to overlay a canvas, it is easier to react users' click on the overlay than using an image overlay. e.g. when users click on the overlay, I can display the details with a line chart about the chosen lat and lon. However, it will be slower than an image overlay. Users can feel the lagged. You can play my canvas o

[2015-07-30 22:52] mt-digital commented on #33
That's looking great. I'm not sure what you should do for now, it depends on how slow it is. I'd say for now if you aren't using advanced features from the canvas, go with the image overlay. Either way, keep both in your code and comment out the one you don't use. We don't have to get rid of either at this point.

[2015-07-31 23:04] ruiwu1990 commented on #33
I overlayed an image on google map and the left top point & right down point to locate the image position. Users can remove and add the overlay. I found the image was not match google map totally. I will figure out the reason next week. The outputs are displayed as below:
![1](https://cloud.githubusercontent.com/assets/8552440/9019262/a613a260-379d-11e5-8587-35f9214d917b.png)
![screenshot from 201

[2015-08-04 23:16] ruiwu1990 commented on #33
I am now trying to change the overlay of the google map based on time. I met a magic thing. I know it is a bug. But it does not make any sense! Can you guys just give me a hint what is going on with this bug?

[code]

This is my json_projects_location[0]. I need to convert it into json. Therefore, I did this:

[code]

There is a bug about this. OK, I accept that. However, if I did this:

[code]

T

[2015-08-05 21:45] ruiwu1990 commented on #33
Problem fixed! I finished converting the chosen data from NetCDF file into JSON file and passing them to the front end. I am working on display these data with overlay based on time.

[2015-08-06 22:43] ruiwu1990 commented on #33
I added a button named "Next Time Overlay". Users can press this button to visualize next timestamp data with 2D map directly. I will change this button into a play button later. When users click this button the canvas will play the data change with time directly.

![screenshot from 2015-08-06 15 36 41](https://cloud.githubusercontent.com/assets/8552440/9125018/0dc2ba06-3c51-11e5-85ba-ff3f32acf9b8

[2015-08-14 21:17] mt-digital opened #43 "throw error on duplicate model run name"
Currently if the user submits a new resource on the web app with a duplicate name it will seem to work. But when the user tries to "View and Add files to this resource" there will be a server error because the new model run was never created because of a naming conflict. Catch the error from the VW and pass this along as a banner alert that the name already exists.

[2015-08-19 18:13] ruiwu1990 commented on #33
I have added a slider, play, and pause buttons into my part. Users can press 'play' button to display data of different time (based on the 'time' variable) just like playing a video. Users can pause the slide show by pressing 'pause' button. Users can also start the slide show from different time stamps using the slider.

![screenshot from 2015-08-19 11 05 23](https://cloud.githubusercontent.com/a

[2015-08-21 15:27] mt-digital opened #44 "histograms and histogram movies for netcdf files"
Scientists would like to be able to spot check grids that are being generated from the ISU gridding tool. One tool that was mentioned was a histogram. Please use a modern web visualization tool (D3, etc.) to do this. Below is an example of what I mean by "histogram of a grid" using numpy and matplotlib.

Checking the histogram allows a scientist to instantly see if any values are extremely wrong i

[2015-08-24 23:52] ruiwu1990 commented on #44
En, I finished the bar graph (I somehow prefer this name). The workflow is similar to draw a line chart.
1) upload a netcdf file
2) choose a variable to visualize
3) choose one dimension of the chosen variable to visualize with bar chart (bar chart contains the chosen dimension and variable itself, e.g. the user chooses 'time' of variable 'temperature')
4) specify other dimensions (e.g. the user c

[2015-08-25 00:04] mt-digital commented on #44
This is a great start.

However, there is a difference between a "bar chart" and a "histogram". A histogram has many less "bins", or bars, than the total number of pixels. Please read up on the difference between bar charts and histograms.

Plus like I explained, the variable (in this case watts per meter squared) will be on the x axis and the number of pixels whose value falls within a bin is on

[2015-08-26 01:12] ruiwu1990 commented on #44
Oh... Here is the prototype screenshot:

![screenshot from 2015-08-25 18 06 49](https://cloud.githubusercontent.com/assets/8552440/9483373/5c851f1e-4b54-11e5-98eb-b18b746f440f.png)

The workflow is :

1) upload a netcdf file
2) choose a variable to visualize
3) choose one dimension of the chosen variable to visualize with histogram
4) input how many sections to separate (the screenshot uses 10 sec

[2015-08-26 20:11] ruiwu1990 commented on #44
Update and Question:

I redesign the histogram (add a line chart and add x labels). When users hover the line chart a tab will appear. Here is a screenshot:

![screenshot from 2015-08-26 13 02 59](https://cloud.githubusercontent.com/assets/8552440/9504741/1637cf8a-4bf3-11e5-8077-24efa2b87e6e.png)

Question:

How can I grab data in one dimensional array in a general way if the time dimension is not

[2015-08-27 17:12] ruiwu1990 commented on #33
For the new sample data (http://vwp-dev.unm.edu/apps/vwp/datasets/213b010b-1fd7-4b54-8c96-cfbcf6ff42c2/twoweek_inputs_with_zlib.nc.original.nc), my original program can present them in 2D map. I tested last night. My part took 37.5 minutes to load data. It takes so long time because it has 148 \* 170 \* 400 records in total. I think maybe I should not load all data before visualize them. I should

[2015-08-31 22:46] ruiwu1990 commented on #33
After some researches and help from my lab teachers, I got two ideas for this slow map visualization problem (loading time is too long, 148 \* 170 \* 400 takes half hour). Please tell me, which one you prefer or you prefer both (I will offer options for users).

First idea, users choose to create a video based on the variable they have chosen. After the video is created, the server will send users

[2015-09-02 19:38] ruiwu1990 commented on #44
Update: Add a button named 'Display Next Time Distribution'. When users click this button, the system will display data frequency distribution of next timestamp. Here is a screenshot:

![screenshot from 2015-09-02 12 30 07](https://cloud.githubusercontent.com/assets/8552440/9642079/15561078-516f-11e5-9094-905ba2fb988f.png)

I also add titles for the graph, x axis tile and y axis title. I found som

[2015-09-08 18:40] ruiwu1990 commented on #44
Update:
1) Fix a bug: when users click on bar chart, weird things will happen
2) create an interface for Chase
3) add play and pause button, if users click 'play' button, the histogram will be updated every 1 second; if users click 'pause' button, the update process will be stopped.

![screenshot from 2015-09-08 11 36 09](https://cloud.githubusercontent.com/assets/8552440/9743995/24480966-561e-11e

[2015-09-09 18:52] ruiwu1990 commented on #33
Help Wanted

After some experiments I found extraction data from netCDF file takes most of the time. But I really don't know why it take so much time. I used something that is similar to the following code to extract 'I_lw' from flat_input.nc (http://vwp-dev.unm.edu/apps/vwp/datasets/4a79a65f-05f5-4bc1-8a75-59dbe0b0edaf/flat_input.nc.original.nc):

[code]

The results is :

[code]

This means the

[2015-09-09 20:31] itsrifat commented on #33
@ruiwu1990  DId you try using standard numy way ?

If I run the following code:

[code]

This is the output I get:

[code]

So it takes only .1 seconds. Don't use loops to extract values of a numpy array.They are already vectorized. That's the reason for using numpy :)

[2015-09-09 20:44] ruiwu1990 commented on #33
OHOHOHOHOH!!!!!!

Yep, that's super fast!! I should use numpy instead of list. Thank you so much. I tested by myself. It works!!!

[2015-09-10 20:50] ruiwu1990 commented on #33
Wow! I feel so happy to say my 2D part is super fast now after I rewrote them based on Moinul's suggestions. Muhahaha, thank you Moinul!

![screenshot from 2015-09-10 13 42 34](https://cloud.githubusercontent.com/assets/8552440/9800607/baf52a9c-57c2-11e5-9bda-c7d66c9205d3.png)

[2015-09-10 22:24] itsrifat commented on #33
:+1:

[2015-09-11 22:10] ruiwu1990 commented on #44
Found a bug. The program runs forever for big file such as twoweek_inputs_with_zlib.nc. The reason is that for each time step for 'I_lw' takes around 0.8 seconds to change 2D array in 1D array, order the 1D array, slice the 1D array, give each slice name, put the slice number and slice name into a class. And for the twoweek_inputs_with_zlib.nc, it has 400 time steps.

Please tell me your opinions

[2015-09-14 21:34] ruiwu1990 commented on #44
I used the following code to obtain variable informations

[code]

The code of function 'sort_section_number' is listed below:

[code]

Here is the FrequenceDistributionInformation details:

[code]

[2015-09-15 21:13] ruiwu1990 commented on #44
Well, I updated histogram part and loading time is much faster now and users will feel lagged if there are a lot of timestamps data. The basic idea is the system will load first 5 timestamps data. When users click 'Display Next Time Distribution' button, the system will first display next frame data and then load another frame into something like a pipe. The process is serial not parallel. You can

[2015-09-17 18:50] ruiwu1990 commented on #44
Muhahaha, got helped by Moinul again. Now when the system loading data, the button will reacts better than before. I used jquery $.get to load data instead of XMLLHttpRequest to load data.

P.S. Matthew, if you need me to do something else, please email me. Now I will improve my previous code.

[2015-10-02 16:54] #11 closed, assigned to nobody

[2015-10-02 16:54] #19 closed, assigned to nobody

[2015-10-02 16:54] #34 closed, assigned to nobody

[2015-10-02 16:54] #39 closed, assigned to nobody

[2015-10-02 16:55] #40 closed, assigned to mt-digital

[2015-10-02 17:05] #33 closed, assigned to nobody

[2015-10-05 00:07] mt-digital commented on #44
Hi @ruiwu1990  I'm trying to run your latest master locally, but I'm getting the error here when I try to visualize a netcdf dataset.  Any idea what's going on?
![screen shot 2015-10-04 at 5 06 59 pm](https://cloud.githubusercontent.com/assets/2425472/10271099/69fd1d1a-6aba-11e5-9bc4-d0040f20f032.png)

[2015-10-05 00:23] ruiwu1990 commented on #44
Let me update my latest version tomorrow morning.

On Sun, Oct 4, 2015 at 5:07 PM, Matthew notifications@github.com wrote:

[2015-10-05 00:53] ruiwu1990 commented on #44
Sorry that I left my code in the lab...

On Sun, Oct 4, 2015 at 5:23 PM, Rui Wu raywu1990@gmail.com wrote:

[2015-10-05 01:21] mt-digital commented on #44
Dude no problem!  Thanks for checking it out!

[2015-10-05 17:14] ruiwu1990 commented on #44
Matthew, could you please check it again? I found I forgot to update my latest part. This time histogram visualization will not be affected by the size of netcdf file.

[2015-10-05 17:15] ruiwu1990 commented on #44
Oh, here is the link of my github, just updated.
https://github.com/ruiwu1990/vwplatform.git

[2015-10-07 17:51] mt-digital opened #45 "enable download in search"
in search results, the user needs to be able to download the files from search results

[2015-10-07 17:52] mt-digital opened #46 "files view for search results"
would fix #45 as well

[2015-10-07 17:55] mt-digital opened #47 "Enable deletion in resource list"
Should probably write a `templates/common/resourceList.html` with delete functionality.

[2015-10-09 05:24] itsrifat commented on #46
How about updating the front end a little bit to make it more like a dashboard app? look at this template http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/pages/index.html

[2015-10-09 17:24] mt-digital commented on #46
Looks good, thanks for the link.  It's a great option that would enable us to do everything we've been talking about doing all in one place.  Let's hold off implementing that bigger change until we get a chance to better plan all the things we have to do and see where it fits in.

[2015-10-29 19:38] #44 closed, assigned to ruiwu1990

[2016-02-02 19:18] mt-digital opened #49 "fix uploads: need to kick off push to gstor in a thread"
Currently most people cannot successfully upload data; a timeout happens and a server/proxy timeout error message is shown.

[2016-02-02 19:23] mt-digital opened #50 "Faceted search interface"
We like the new[ dataONE interface](https://search.dataone.org/#data/page/0). Plan to implement faceted search for the Virtual Watershed/WC-WAVE participants.

Search by (@itsrifat please add any facets you can think of):
1. Watershed
2. Model
3. Researcher

[2016-04-05 19:59] mt-digital commented on #49
finished by using an API route

[2016-04-05 19:59] #49 closed, assigned to mt-digital